/*Variables*/

$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$base-font-size: 1rem;
$h-font-size: 1.5rem;
$base-line-height: 1.5rem;
$base-font-family: 'Roboto', sans-serif;
$heading-font-family: 'Shrikhand', cursive;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: $base-font-size;
    line-height: $base-line-height;
} 

body {
    font-family: $base-font-family;
}

a {
    color: black;
}

header {
    display: flex;
    justify-content: center;
    padding-top: 22px;
    padding-bottom: 12px;
}

.logo {
    width: 164px;
}

.emplacement {
    background: #eaeaea;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow:  inset 0px 5px 5px #cfcfcf;

    &__gps {
        width: 12px;
        margin-right: 18px;
    }
}

.introduction {
    background: #f6f6f6;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px 57px;

    &__h1 {
        text-align: center;
        font-size: $h-font-size;
    }

    &__h2 {
        padding-bottom: 31px;
        font-weight: normal;
        text-align: center;
    }
}

.btn {
    display: block;
    text-decoration: none;

    &__base {
        display: flex;
        justify-content: center;
        align-items: center;

        &--réservez {
            height: 50px;
            width: 218px;
            background: linear-gradient(165deg,$secondary-color, $primary-color);
            color: white;
            border-radius: 25px;
            box-shadow: 0px 8px 8px #cfcfcf;
        }

        &--fonctionnement {
            width: 322px;
            height: 72px;
            background: #f6f6f6;
            border-radius: 17px;
            justify-content: flex-start;
            padding-left: 34px; 
            margin: 0px 0px 25px 13px;

            &:hover {
                background: #f5edff;
                .btn__base--fonctionnement__icônes {
                    color: #9356dc;
                }
            }

            &__icônes {
                width: 20px;
                height: 20px;
                margin-right: 21px;
                color: #7e7e7e;
            }
        }

        &--nouveau {
            width: 81px;
            height: 29px;
            background: $tertiary-color;
            position: relative;
            bottom: 238px;
            left: 249px;
            color: #008766;
        }
        
        &--dish {
            width: 349px;
            height: 68px;
            border-radius: 15px;
            margin-top: 14px;
            background: white;
            overflow: hidden;
            cursor: pointer;

            &:hover {

                .btn__base--dish__check {
                    width: 59px;
                }

                .btn__base--dish__check__logo {
                    transform: rotate(360deg);
                    left: 0px;
                }
            }

            &__text {
                width: 277px;
                height: 100%;
                padding: 13px 0px 0px 10px;
                overflow: hidden;
    
                &__p {
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                }
            }

                
            &__price {
                display: flex;
                justify-content: center;
                align-items: flex-end;
                padding-bottom: 15px;
                width: 72px;
                height: 100%;
            }

            &__check {
                width: 0px;
                height: 100%;
                background: $tertiary-color;
                transition: all 500ms;
                display: flex;
                justify-content: center;
                align-items: center;
                overflow: hidden;

                &__logo {
                    width: 20px;
                    height: 20px;
                    color: white;
                    transition: all 500ms;
                    position: relative;
                    left: 35px;
                }
            }
        }
    }   
}

.puce {
    background: $primary-color;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: relative;
    left: -47px;
    color: white;
}

.sec {
    width: 350px;
    padding: 50px 0px 43px;
    margin: auto;

    @media (min-width: 767px) {
        width: 767px;
    }

    @media (min-width: 1024px) {
        width: 90%;
    }

    &__box {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    
    &__h2 {
        font-size: $h-font-size;
        margin-bottom: 30px;
        align-self: flex-start;
    }
}

.carte {
    display: block;
    text-decoration: none;
    height: 251px;
    width: 341px;
    margin-bottom: 18px;
    background: white;
    border-radius: 13px;
    overflow: hidden;

    &__boite {
        height: 174px;
        overflow: hidden;
        
        &__image {
            object-fit: cover;
            width: 341px;
            height: 184px;
        }
    }

    &__description {
        height: 77px;
        display: flex;
        align-items: center;

        &__texte {
            width: 291px;
            height: 100%;

            &__h3 {
                padding: 20px 0px 0px 14px;
            }

            &__p {
                padding-left: 14px;
                font-weight: 300;
            }
        }
    }
}

.heart {
    width: 22px;
    height: 21px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
        .heart__logo--click {
            opacity: 1;
        }            
    }

    &__logo {
        width: 22px;
        height: 21px;
        cursor: pointer;

        &--click {
            position: absolute;
            color: $secondary-color;
            opacity: 0;
            transition: opacity 250ms;
        }
    }
}

footer {
    background: #353535;
    padding: 26px 0px 0px 20px;
    color: white; 
}

.ul_footer {
    padding: 15px 0px 25px;
    
    @media (min-width: 767px) {
        display: flex;
        justify-content: space-around;
    }

    &__li {
        display: flex;
        align-items: center;

        &__image {
            width: 12px;
            height: 13px;
            margin-right: 12px;
        }

        &__link {
            text-decoration: none;
            color: white;
        }
    }
}

.greybg {
    background: #f6f6f6;
}

.arrow {
    width: 18px;
    height: 16px;
    position: absolute;
    left: 23px;
}

.h-img {
    width: 100%;
    height: 260px;
}

.menu {
    position: relative;
    top: -45px;
    border-radius: 38px;
    padding: 39px 12px 0px 19px;

    &__heading {
        display: flex;
        justify-content: space-between;
        padding: 0px 26px 5px 0px;
        font-family: $heading-font-family;

        &__h1{
            font-size: 1.6rem;
        }
    }

    &__part {
        padding-top: 40px;

        &__line {
            width: 40px;
            height: 3px;
            background: $tertiary-color;
        }
    }

    &__box {
        display: flex;
        flex-direction: column;
    }
}