@charset "UTF-8";
/*Variables*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1rem;
  line-height: 1.5rem;
}

body {
  font-family: "Roboto", sans-serif;
}

a {
  color: black;
}

header {
  display: flex;
  justify-content: center;
  padding-top: 22px;
  padding-bottom: 12px;
}

.logo {
  width: 164px;
}

.emplacement {
  background: #eaeaea;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0px 5px 5px #cfcfcf;
}
.emplacement__gps {
  width: 12px;
  margin-right: 18px;
}

.introduction {
  background: #f6f6f6;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px 57px;
}
.introduction__h1 {
  text-align: center;
  font-size: 1.5rem;
}
.introduction__h2 {
  padding-bottom: 31px;
  font-weight: normal;
  text-align: center;
}

.btn {
  display: block;
  text-decoration: none;
}
.btn__base {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn__base--réservez {
  height: 50px;
  width: 218px;
  background: linear-gradient(165deg, #FF79DA, #9356DC);
  color: white;
  border-radius: 25px;
  box-shadow: 0px 8px 8px #cfcfcf;
}
.btn__base--réservez:hover {
  box-shadow: 0px 12px 12px grey;
  background: linear-gradient(165deg, #df00a1, #481a7f);
}
.btn__base--fonctionnement {
  width: 322px;
  height: 72px;
  background: #f6f6f6;
  border-radius: 17px;
  justify-content: flex-start;
  padding-left: 34px;
  margin: 0px 0px 25px 13px;
}
.btn__base--fonctionnement:hover {
  background: #f5edff;
}
.btn__base--fonctionnement:hover .btn__base--fonctionnement__icônes {
  color: #9356dc;
}
.btn__base--fonctionnement__icônes {
  width: 20px;
  height: 20px;
  margin-right: 21px;
  color: #7e7e7e;
}
.btn__base--nouveau {
  width: 81px;
  height: 29px;
  background: #99E2D0;
  position: relative;
  bottom: 238px;
  left: 249px;
  color: #008766;
}
.btn__base--dish {
  width: 349px;
  height: 68px;
  border-radius: 15px;
  margin-top: 14px;
  background: white;
  overflow: hidden;
  cursor: pointer;
  position: relative;
}
.btn__base--dish--0 {
  animation: dish 1000ms 100ms;
}
.btn__base--dish--1 {
  animation: dish 1000ms 150ms;
}
.btn__base--dish--2 {
  animation: dish 1000ms 200ms;
}
.btn__base--dish--3 {
  animation: dish 1000ms 250ms;
}
.btn__base--dish--4 {
  animation: dish 1000ms 300ms;
}
.btn__base--dish--5 {
  animation: dish 1000ms 350ms;
}
.btn__base--dish--6 {
  animation: dish 1000ms 400ms;
}
.btn__base--dish--7 {
  animation: dish 1000ms 450ms;
}
.btn__base--dish--8 {
  animation: dish 1000ms 500ms;
}
.btn__base--dish--9 {
  animation: dish 1000ms 550ms;
}
.btn__base--dish:hover .btn__base--dish__check {
  width: 59px;
}
.btn__base--dish:hover .btn__base--dish__check__logo {
  transform: rotate(360deg);
  left: 0px;
}
.btn__base--dish__text {
  width: 277px;
  height: 100%;
  padding: 13px 0px 0px 10px;
  overflow: hidden;
}
.btn__base--dish__text__p {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.btn__base--dish__price {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 15px;
  width: 72px;
  height: 100%;
}
.btn__base--dish__check {
  width: 0px;
  height: 100%;
  background: #99E2D0;
  transition: all 500ms;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.btn__base--dish__check__logo {
  width: 20px;
  height: 20px;
  color: white;
  transition: all 500ms;
  position: relative;
  left: 35px;
}

.puce {
  background: #9356DC;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: relative;
  left: -47px;
  color: white;
}

.sec {
  width: 350px;
  padding: 50px 0px 43px;
  margin: auto;
}
@media (min-width: 767px) {
  .sec {
    width: 767px;
  }
}
@media (min-width: 1024px) {
  .sec {
    width: 90%;
  }
}
.sec__box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.sec__h2 {
  font-size: 1.5rem;
  margin-bottom: 30px;
  align-self: flex-start;
}

.carte {
  display: block;
  text-decoration: none;
  height: 251px;
  width: 341px;
  margin-bottom: 18px;
  background: white;
  border-radius: 13px;
  overflow: hidden;
}
.carte__boite {
  height: 174px;
  overflow: hidden;
}
.carte__boite__image {
  object-fit: cover;
  width: 341px;
  height: 184px;
}
.carte__description {
  height: 77px;
  display: flex;
  align-items: center;
}
.carte__description__texte {
  width: 291px;
  height: 100%;
}
.carte__description__texte__h3 {
  padding: 20px 0px 0px 14px;
}
.carte__description__texte__p {
  padding-left: 14px;
  font-weight: 300;
}

.heart {
  width: 22px;
  height: 21px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.heart:hover .heart__logo--click {
  opacity: 1;
}
.heart__logo {
  width: 22px;
  height: 21px;
  cursor: pointer;
}
.heart__logo--click {
  position: absolute;
  color: #FF79DA;
  opacity: 0;
  transition: opacity 250ms;
}

footer {
  background: #353535;
  padding: 26px 0px 0px 20px;
  color: white;
}

.ul_footer {
  padding: 15px 0px 25px;
}
@media (min-width: 767px) {
  .ul_footer {
    display: flex;
    justify-content: space-around;
  }
}
.ul_footer__li {
  display: flex;
  align-items: center;
}
.ul_footer__li__image {
  width: 12px;
  height: 13px;
  margin-right: 12px;
}
.ul_footer__li__link {
  text-decoration: none;
  color: white;
}

.greybg {
  background: #f6f6f6;
}

.arrow {
  width: 18px;
  height: 16px;
  position: absolute;
  left: 23px;
}

.h-img {
  width: 100%;
  height: 260px;
  object-fit: cover;
}

.menu {
  padding: 0px 12px 0px 19px;
}
.menu__heading {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0px 26px 5px 0px;
  font-family: "Shrikhand", cursive;
  position: relative;
  top: -45px;
  border-radius: 38px;
  background: #f6f6f6;
  height: 76px;
  margin: 0px -12px -40px -19px;
  padding: 0px 12px 0px 19px;
}
.menu__heading__h1 {
  font-size: 1.6rem;
}
.menu__part {
  padding-top: 40px;
}
.menu__part__line {
  width: 40px;
  height: 3px;
  background: #99E2D0;
}
.menu__box {
  display: flex;
  flex-direction: column;
  width: 341px;
  margin: auto;
}
@media (min-width: 767px) {
  .menu__box {
    width: 90%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

@keyframes dish {
  0% {
    top: 50px;
    opacity: 0;
  }
  100% {
    top: 0px;
    opacity: 1;
  }
}
.box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  padding-bottom: 83px;
}

.loading {
  width: 100%;
  height: 100%;
  position: absolute;
  background: #FF79DA;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: loading 500ms 2000ms forwards;
}
.loading__loader {
  width: 30%;
  color: #99E2D0;
  transform: rotate;
  animation: loader 2500ms linear;
}

@keyframes loading {
  100% {
    transform: scale(0, 0);
  }
}
@keyframes loader {
  100% {
    transform: rotate(360deg);
  }
}

/*# sourceMappingURL=style.css.map */
